# Tutorial Exercises

This week's tutorial exercises focus on indexing and obtaining descriptive statistics

### Set up Python Libraries

As usual you will need to run this code block to import the relevant Python libraries

In [1]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import seaborn as sns
sns.set_theme(style='white')
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings 
warnings.simplefilter('ignore', category=FutureWarning)

### Import a dataset to work with

We will work with weather data from the Oxford weather station. This code block will read it automatically from the internet.

In [2]:
weather = pd.read_csv("https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook_2024/main/data/OxfordWeather.csv")
display(weather)

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm
0      1827   Jan   1   1      1   8.3   5.6    7.0     2.7          0.0
1      1827   Jan   1   2      2   2.2   0.0    1.1     2.2          0.0
2      1827   Jan   1   3      3  -2.2  -8.3   -5.3     6.1          9.7
3      1827   Jan   1   4      4  -1.7  -7.8   -4.8     6.1          0.0
4      1827   Jan   1   5      5   0.0 -10.6   -5.3    10.6          0.0
...     ...   ...  ..  ..    ...   ...   ...    ...     ...          ...
71338  2022   Apr   4  26    116  15.2   4.1    9.7    11.1          0.0
71339  2022   Apr   4  27    117  10.7   2.6    6.7     8.1          0.0
71340  2022   Apr   4  28    118  12.7   3.9    8.3     8.8          0.0
71341  2022   Apr   4  29    119  11.7   6.7    9.2     5.0          0.0
71342  2022   Apr   4  30    120  17.6   1.0    9.3    16.6          0.0

[71343 rows x 10 columns]

## Exercises

In the following questions, we descriptive statistics and indexing to answer some questions about the weather and climate in Oxford.

Where you are asked to calculate a value (such as the mean) rather than output a table, you should **report your answer in words** in the text box below the code block.

Where the question asks you to "comment", you are simply being asked to engage with the data/ explain what  you notice in plain English. Please discuss with your fellow students and your tutor as this is a really important skill for data analysis.

### Part 1: Heat

#### a. What was the hottest temperature on record?

Note that the dataset ends in April 2022 and therefore does not include the record heatwave of summer 2022.

In [3]:
# Your code here

*Your text here*

#### b. On what date did the hottest temperature occur?

Hint: you could use `df.query()` to help you here

In [4]:
# Your code here

*Your text here*

#### c. Display the 10 hottest days on record and comment

Hint: you can use `df.sort_values()` and `df.head()` or `df.tail()` to help you here

In [5]:
# Your code here

*Your comment here*

#### d. Find the mean of maximum daily temperature (Tmax) for each month and comment

Hint: you can use `df.groupby()` to help you here

In [6]:
# Your code here

*Your comment here*

#### e. Make a table displaying the mean and standard deviation of Tmax in each month

Hint: A combination of `df.agg()` and `df.groupby()` will help you here

In [7]:
# Your code here

#### e. Make a table displaying the mean of Tmax and Tmin in each month

Hint: A combination of `df.agg()` and `df.groupby()` will help you here

In [8]:
# Your code here

### Part 2: Rain

#### a. Run this code block to add a column called <tt>wet</tt> containing a <tt>True</tt> for days on which it rained and <tt>False</tt> otherwise

We will practice adding columns in a later session

In [9]:
# Your code here
weather['wet']=weather.Rainfall_mm>0
weather

,YYYY,Month,MM,DD,DD365,Tmax,Tmin,Tmean,Trange,Rainfall_mm,wet
0,1827,Jan,1,1,1,8.3,5.6,7.0,2.7,0.0,False
1,1827,Jan,1,2,2,2.2,0.0,1.1,2.2,0.0,False
2,1827,Jan,1,3,3,-2.2,-8.3,-5.3,6.1,9.7,True
3,1827,Jan,1,4,4,-1.7,-7.8,-4.8,6.1,0.0,False
4,1827,Jan,1,5,5,0.0,-10.6,-5.3,10.6,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...
71338,2022,Apr,4,26,116,15.2,4.1,9.7,11.1,0.0,False
71339,2022,Apr,4,27,117,10.7,2.6,6.7,8.1,0.0,False
71340,2022,Apr,4,28,118,12.7,3.9,8.3,8.8,0.0,False
71341,2022,Apr,4,29,119,11.7,6.7,9.2,5.0,0.0,False
71342,2022,Apr,4,30,120,17.6,1.0,9.3,16.6,0.0,False

#### b. What is the proportion of wet days overall?

Hint: The values <tt>True</tt> and <tt>False</tt> can be treated as <tt>1</tt> and <tt>0</tt> respectively.
    
To get the proportion of days on which <tt>wet==True</tt>, we can use a programmming trick which is to simply take the mean of the column <tt>wet</tt>:
    
* say there are 100 days in my sample
    * say 66 of them, <tt>wet==True==1</tt>
    * for the other 44, <tt>wet==False==0</tt>
* If we take the mean, this gives us the proportion of wet days because we:
    * add up all the values (answer=66) 
    * divide by the number of cases (100)
    * result is 66/100 = 0.66 or 66%, the proportion of wet days

In [10]:
weather.wet.mean()

0.46311481154423

*Your text here*

#### c. What is the proportion of wet days in each month? Comment on your findings

Hint: use `df.groupby()`

In [11]:
# your code here
weather.groupby('MM').wet.mean()

MM
1     0.530941
2     0.479046
3     0.448321
4     0.441156
5     0.422829
6     0.405128
7     0.414723
8     0.431596
9     0.421538
10    0.503722
11    0.529231
12    0.528536
Name: wet, dtype: float64

*Your comments here*

#### d. What is the mean quantity of rainfall (in mm) in each month? Comment on your findings

In [12]:
# your code here
weather.groupby('MM').Rainfall_mm.mean()

MM
1     1.768186
2     1.513909
3     1.384546
4     1.471871
5     1.666600
6     1.813607
7     1.888238
8     1.935203
9     1.889658
10    2.173002
11    2.043350
12    1.878412
Name: Rainfall_mm, dtype: float64

*Your comment here*

#### e. Display the 10 wettest days on record and comment

In [13]:
# Your code here
weather.sort_values(by='Rainfall_mm', ascending=False).head(10)

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm   wet
51690  1968   Jul   7  10    192  15.1  12.8   14.0     2.3         87.9  True
45538  1951   Sep   9   6    249  20.6  16.1   18.4     4.5         84.8  True
48750  1960   Jun   6  22    174  26.1  12.2   19.2    13.9         81.3  True
34915  1922   Aug   8   6    219  17.2   8.9   13.1     8.3         70.8  True
53503  1973   Jun   6  27    178  17.8  12.3   15.1     5.5         67.3  True
70768  2020   Oct  10   3    277  13.9  11.2   12.6     2.7         60.0  True
47705  1957   Aug   8  12    224  20.0  15.6   17.8     4.4         56.1  True
49525  1962   Aug   8   6    218  16.1  10.7   13.4     5.4         53.6  True
27922  1903   Jun   6  14    165  10.4   6.4    8.4     4.0         51.1  True
67076  2010   Aug   8  25    237  16.4  11.3   13.9     5.1         51.1  True

*Your comment here*

#### f. Compare and contrast the different findings in part 2 c,d, and e

Different descriptive statistics tell us different things about the same data!

*Your comments here!*

### Snow

#### a. Create a dataframe <tt>WhiteChristmas</tt> containing the weather on Christmas day, for all the years in which there was a White Christmas 

Hint: we don't have a column telling us when is has snowed, but it is reasonable to assume this happens when the minimum temperature dips below zero, and Rainfall_mm is above zero.

In [14]:
# Your code here
# WhiteChristmas =

#### b. Sort the dataframe <tt>WhiteChristmas</tt> by year and comment

In [15]:
# Your code here

*Your comments here*

#### c. Any issues with our definition of 'snow'?

We defined snow as when the <tt>Tmin</tt> falls below zero and Rainfall is non-zero. 

* Do you think this over- or under- estiamtes the number of snowy days?
* Why?

*Your comments here*

#### d. How common is 'proper' snowfall in Oxford?

Let's focus on days with enough snowfall to make at least a tiny snowman! Assume that this happens when TMin is below zero and there is more than 4mm of rainfall 

* 4mm of rain makes about 5cm of soggy snow in Oxford conditions, although it would make a uch greater depth of powder in a cold dry atmosphere like Utah or Colorado

Create a dataframe called <tt>SnowDays</tt> containing only days with enough snow to make a snowman.

You can check how often this happened in recent years using `df.tail()`

In [16]:
# Your code here

*Your comments here*